/Quantity_Estimator/nbproject/private/
/Quantity-Estimator/nbproject/private/
Quantity-Estimator/nbproject/build-impl.xml
Quantity-Estimator/nbproject/genfiles.properties
Quantity-Estimator/nbproject/project.properties
Quantity-Estimator/nbproject/project.xml
